{% extends "web/base.html" %} {% load static %} {% block contenido %}
<header class="header4">
    <div class="wrapper2">
        <input type="checkbox" name="" id="btn-menu-formulario">
        <label for="btn-menu-formulario">
          <img src="{% static 'Img/menu.png' %}" width="30px" height="30px" alt="">
        </label>
        <nav class="nav-menu-formulario">
            <ul>
                <li><a href="Formulario.html">Formulario Usuario</a></li>
                <li><a href="Formulario-Insumo.html">Formulario Insumo</a></li>
            </ul>
    </div>
</header>
<section>
    <div class="form-register">
        <h4>Formulario Usuario</h4>
        <script src="{% static 'dist/js/scripts.js' %}"></script>
        <script src="{% static 'dist/js/cliente.js' %}"></script>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="formato-formulario">
                <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre" value="">
                <input class="controls" type="text" name="apellido" id="apellido" placeholder="Ingrese su Apellido" value="">
                <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" value="">
                <input class="controls" type="text" name="usuario" id="usuario" placeholder="Ingrese su Usuario" value="">
                <input class="controls" type="password" name="passw1" id="passw1" placeholder="Ingrese su Contraseña" value="">
                <input class="controls" type="password" name="passw2" id="passw2" placeholder="repetir su Contraseña" value="">
            </div>

            <input class="bottom" type="submit" name="" value="Registrar">
        </form>
        <p><a href="#">¿Ya tengo cuenta?</a></p>
    </div>
</section>
<div style="text-align: center;color: crimson;">
    <h2>{{msg}}</h2>
</div>
{% endblock contenido %}