<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Galeria</title>
    <link rel="icon" href="Img/portal3.png">
    <link rel="stylesheet" href="Css/estilo.css">
    <link rel="stylesheet" href="dist/css/lightbox.min.css">
  </head>
  <body class="galeria">
    <header class="header2">
      <div class="wrapper">
          <div class="logo">Miguel Wash</div>
          <div class="icono-coche">
            <img src="Img/trafico.png" alt="Auto Pequeño" width="40px" height="40px">
          </div>
          <nav>
            <a href="Inicio.html">Inicio</a>
            <a href="Galeria.html">Galeria</a>
            <a href="Objetivo.html">Objetivo</a>
            <a href="Formulario.html">Formulario</a>
            <a href="Mapa.html">Mapa</a>
          </nav>
      </div>
    </header>

    <section class="contenido">
      <div class="titulo-galeria">
        <p>Imágenes de nuestras intalaciones</p>
      </div>
      <aside>
        <div class="local-auto">
          <a href="Img/InstalacionLavado1.png" data-lightbox="lavados" data-title="Lavado intensivo">
            <img src="Img/InstalacionLavado1.png" alt="Intalacion de Autos">
          </a>
          </div>
        <div class="local-auto">
          <a href="Img/InstalacionLavado5.png" data-lightbox="lavados" data-title="Lavado intensivo">
            <img src="Img/InstalacionLavado5.png" alt="Intalacion de Autos">
          </a>
            </div>
        <div class="local-auto">
          <a href="Img/InstalacionLavado3.png" data-lightbox="lavados" data-title="Lavado intensivo">
            <img src="Img/InstalacionLavado3.png" alt="Intalacion de Autos">
          </a>
            </div>
        <div class="local-auto">
          <a href="Img/InstalacionLavado4.png" data-lightbox="lavados" data-title="Lavado intensivo">
            <img src="Img/InstalacionLavado4.png" alt="Intalacion de Autos">
          </a>
            </div>
        <div class="local-auto">
          <a href="Img/InstalacionLavado2.png" data-lightbox="lavados" data-title="Lavado intensivo">
            <img src="Img/InstalacionLavado2.png" alt="Intalacion de Autos">
          </a>
          </div>
        <div class="local-auto">
          <a href="Img/InstalacionLavado6.png" data-lightbox="lavados" data-title="Lavado intensivo">
            <img src="Img/InstalacionLavado6.png" alt="Intalacion de Autos">
          </a>
        </div>
      </aside>
    </section>
    
    <footer>
      <nav>
        <a href="Inicio.html">Inicio</a>
        <a href="Galeria.html">Galeria</a>
        <a href="Objetivo.html">Objetivo</a>
        <a href="Formulario.html">Formulario</a>
        <a href="Mapa.html">Mapa</a>
      </nav>
      <div class="derecho">
        <p>Derecho de autor © 2020-2021</p>
      </div>
    </footer>
    <script src="dist/js/lightbox-plus-jquery.min.js"></script>
  </body>
</html>
